[submodule "nerd-fonts"]
	path = nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
	shallow = true
	update = rebase
[submodule "JetBrainsMono"]
	path = JetBrainsMono
	url = git@github.com:JetBrains/JetBrainsMono.git
	shallow = true
	update = rebase
[submodule "cascadia-code"]
	path = cascadia-code
	url = git@github.com:microsoft/cascadia-code.git
	shallow = true
	update = rebase
